@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-inter: "Inter";
    --color-primary: #137fec;
    --color-background-light: #f6f7f8;
    --color-background-dark: #101922;
    --color-success: #28a745;
    --color-surface-light: #ffffff;
    --color-surface-dark: #1b2835;
    --color-text-light-primary: #111418;
    --color-text-dark-primary: #f6f7f8;
    --color-text-light-secondary: #617589;
    --color-text-dark-secondary: #a0b3c6;
    --color-border-light: #dbe0e6;
    --color-border-dark: #314254;
    --color-hover-light: #f0f2f4;
    --color-hover-dark: #263545;
    --radius-default: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-full: 9999px;
}
