@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-inter : 'Inter';
    --color-primary : #137fec;
    --color-background-light : #f6f7f8;
    --color-background-dark : #101922;
    --color-success : #28a745;
    --radius-default: 0.25rem;
    --radius-default: 0.5rem;
    --radius-default: 0.75rem;
    --radius-default: 0.9999px;
}
